// colors

// base
$white: #fff;
$black: #000;
$greyer: #333;
$email: #2a5db0;
$error: tomato;
$green: green;
$red: red;

// fonts
$base-white: #eee;

// backgrounds
$base-background: #f9faff;
$nav-background: #2d3436;

// placeholders
$base-placeholder: #c8cddf;

// btns
$btn-background: #ffec64;
$btn-border: #ffaa22;
